[submodule "deployer_avec_python"]
	path = deployer_avec_python
	url = git@github.com:totor59/deployer_avec_python.git
[submodule "keep_your_secrets_secrets"]
	path = keep_your_secrets_secrets
	url = git@github.com:totor59/keep_your_secrets_secrets.git
